
body {
  background-color: #000;
}

.App {
  display: flex;
  vertical-align: middle;
  align-items: center;

  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  color: #fff;
  position: absolute;
  flex: 1;
  font-family: 'Orbitron', sans-serif;
  font-weight: normal;
  font-size: 50px;
  margin: 10px 0;
}
